body {
  // ========================================================
  // This pattern is downloaded from www.subtlepatterns.com 
  // If you need more, that's where to get'em.
  // ========================================================
  // background-image: url('https://cdn.gomix.com/630c7520-5581-4686-ba26-06f0aa5f7e5f/geometry2.png');
}

.page {
  
  &_landing {
    
    header {
      text-align: center;
      
      h1 {
        font-family: $brand-font-family;
      }
    }
    
    h1 {
      text-align: center;
    }
  }
}

.page-title {
  font-family: $brand-font-family;
  font-weight: bold;
}

.mood {
  &_video {
    .e1a-film_frames {
      filter: #{'invert()'};
    }
  }
}

header {
  text-align: center;
  
  .about-handle {
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0% 50%;
    top: -1rem;
    right: -1rem;
    margin: 0;
    z-index: 40;
  }
}

.row_player {
  overflow: hidden;
  
  @include breakpoint(large) {
    height: 100vh;  
    
    // reaffirm shrink class (bugs amiright?)
    .column.shrink {
      @include flex-grid-column(shrink);
      
    }
  }
  
  // also reaffirm collapse class
  &.collapse {
    
    .column.shrink {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.player {
  background: $dark-gray;
  // color: $white;
  
  .embed-placeholder {
    display: block;
  }
  
  .image-wrapper {
    img {
      max-height: 100%;
      padding: $global-padding;
      margin: auto;
      display: block;
    }
  }
  
  .video-wrapper {
    video {
      max-height: 100%;
      padding: $global-padding;
      margin: auto;
      display: block;
    }
  }
}

.column_player {
  z-index: 20;
  
  @include breakpoint(large down) {
    height: 100vh;
  }
}

.column_playlist {
  z-index: 10;
  transition: transform .3s ease;

  .request-more {
    width: 11.5rem;
    margin-bottom: 0;
  }
  
  &:hover,
  &.column_active {
    z-index: 30;
    
    .request-more {
      width: 30rem;
    }
  }

  @include breakpoint(large) {
    
    &:hover {
      transform: perspective(56rem) rotateY(5deg) scale(1);
    }
  }
}

.meta-bar {
  background: $medium-gray;
  position: relative;
  // color: $white;
  // flex-basis: 4rem;
  
  &__title {
    font-size: $global-font-size * 1.2;
    margin-bottom: 0;
    
    &,
    a {
      color: $white;
    }
  }
  
  &__controls {
    margin-bottom: 0;
  }
  
  .control {
    cursor: pointer;
  }
}

.playlist {
  //background-color: $body-background;
  
  height: 100%;
  overflow-y: scroll;
  
  @include breakpoint(large) {
    position: relative;
    overflow: visible;
    // width: 30rem; // original size
    width: 11.5rem;
  }
}

.upcoming-posts {
  margin: 0;
  
  @include breakpoint(large) {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30rem;
    overflow-y: scroll;
    overflow-x: hidden;
    // background: $body-background;
    
    li:last-child {
      margin-bottom: 100%;
    }
  }
}

.upcoming-post {
  cursor: pointer;
  padding: $global-padding 0;
  background: rgba($dark-gray, .6);
  
  &:hover {
    background: $medium-gray;
  }
  
  & + & {
    border-top: 1px solid $medium-gray;
  }
  
  &_active {
    background: $dark-gray;
  }
  
  &_nsfw,
  &_spoiler {
  
    .upcoming-post__thumbnail {
      position: relative;
      
      &::before {
        content: 'NSFW';
        color: $alert-color;
        font-family: $brand-font-family;
        font-size: 400%;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        right: -2rem;
        transform: rotate(-22deg)
      }
      
      img {
        opacity: 0.2;
      }
    }
  }
  
  &_spoiler {
  
    .upcoming-post__thumbnail {
      
      &::before {
        content: 'SPOILER';
        color: $warning-color;
        font-size: 220%;
        font-weight: bold;
        position: absolute;
        bottom: 1.6rem;
        right: -1.7rem;
        -webkit-transform: rotate(27deg);
        transform: rotate(27deg);
      }
    }
  }
}

.comments {
  margin-top: $global-margin * 1.5;
  
  &__title {
    font-family: $brand-font-family;
    font-weight: bold;
  }
}

.comment {
  border: 1px solid $light-gray;
  padding: $global-padding / 4;
  margin-top: $global-margin;
  overflow: hidden;

  & + & {
  }
  
  &_collapsed {
    height: 3rem;
    opacity: .75;
  }
  
  &__author {
    font-style: italic;
  }
  
  &__text {
    
    .md {
      > :last-child {
        margin-bottom: 0;
      }
    }
  }
  
  button {
    color: $white;
  }
}

.md {
  
  a {
    word-wrap: break-word;
  }
}

footer {
  border-top: 1px solid $light-gray;
  margin: $global-margin;
  padding: $global-padding / 2;
}