<!DOCTYPE html>
<html>
  <head>
    <title>Super Media Collider Extravaganza for Reddit!</title>
    <meta name="description" content="A cool thing made with Gomix">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link 
      href="https://fonts.googleapis.com/css?family=Audiowide|Bungee|Bungee+Shade|Ewert|Monoton|Open+Sans|Shrikhand" 
      rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class="page page_landing">
    <!-- component templates -->
    <script type="text/x-template" id="mood-template">
      <section class="mood card">
        <header class="mood__header card-divider">
          <h3>{{ title }}</h3>
        </header>
        <ul class="mood__options card-section menu vertical">
          <li v-for="option in options">
            <a v-bind:href="option.url">{{ option.title }}</a>
          </li>
        </ul>
      </section>
    </script>

    <header>
      <h1>Super Media Collider Extravaganza for Reddit!<sup><a href="#footnote" title="I'm working on the name okay">*</a></sup></h1>
      <h2>Yet another Reddit player</h2>
    </header>

    <main>
      <h1>What are you in the mood for?</h1>
      
      <div class="moods row small-unstack" >
        <div 
          class="column"
          v-for="mood in moods">
          <mood
            v-bind:class="'mood_' + mood.name"
            v-bind:data="mood">
          </mood>
        </div>
      </div>
    </main>

    <footer>
      <a href="https://gomix.com/#!/project/super-media-collider-extravaganza-for-reddit">
        Remix this in Gomix
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://unpkg.com/vue@2.1.7/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/index.js"></script>

  </body>
</html>
