<!DOCTYPE html>
<html>
  <head>
    <title>Home - WYARP - Why Yet another Reddit Player: Based on SMCEFR</title>
    <meta name="description" content="A cool thing made with Gomix">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/emojione@2.2.7/assets/css/emojione-awesome.css">
    <link rel="stylesheet" href="/style.css">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5H6B64B');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="page page_landing">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5H6B64B"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->    
    <!-- component templates -->
    <script type="text/x-template" id="mood-template">
      <section class="mood card">
        <header class="mood__header card-divider">
          <h3><i v-bind:class="'e1a-' + icon"></i>{{ title }}</h3>
        </header>
        <ul class="mood__options card-section menu vertical">
          <li v-for="option in options">
            <a v-bind:href="option.url">{{ option.title }}</a>
          </li>
        </ul>
      </section>
    </script>

    <header>
      <h1>WYARP: Why Yet another Reddit Player?</h1>
      <h2>because LOWD: the Last One Went Down</h2>
      <h2>Based on the Super Media Collider Extravaganza for Reddit!</h2>
      
    </header>

    <main>
      <h1>What are you in the mood for?</h1>
      
      <div class="moods row small-unstack" >
        <div 
          class="column"
          v-for="mood in moods">
          <mood
            v-bind:class="'mood_' + mood.name"
            v-bind:data="mood">
          </mood>
        </div>
      </div>
    </main>

    <footer>
      <a href="https://gomix.com/#!/project/smcer">
        Remix this in Gomix
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://unpkg.com/vue@2.1.7/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/index.js"></script>
  </body>
</html>
