<!DOCTYPE html>
<html>
  <head>
    <title>Super Media Collider Extravaganza for Reddit!</title>
    <meta name="description" content="Yet another Reddit player">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/emojione@2.2.7/assets/css/emojione-awesome.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class="page page_landing">
    <!-- component templates -->
    <script type="text/x-template" id="mood-template">
      <section class="mood card">
        <header class="mood__header card-divider">
          <h3><i v-bind:class="'e1a-' + icon"></i>{{ title }}</h3>
        </header>
        <ul class="mood__options card-section menu vertical">
          <li v-for="option in options">
            <a v-bind:href="option.url">{{ option.title }}</a>
          </li>
        </ul>
      </section>
    </script>

    <header>
      <h1>Super Media Collider Extravaganza for Reddit!<sup><a href="#I'm-working-on-the-name-okay" title="I'm working on the name okay">*</a></sup></h1>
    </header>

    <main>
      <h1>What are you in the mood for?</h1>
      
      <div class="moods row small-unstack" >
        <div 
          class="column"
          v-for="mood in moods">
          <mood
            v-bind:class="'mood_' + mood.name"
            v-bind:data="mood">
          </mood>
        </div>
      </div>
    </main>
    
    <footer>
      <ul class="menu">
        <li>
          <a href="https://gomix.com/#!/project/smcer">
            <img width="200" src="https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fremix-button.svg" alt="Remix on Glitch">
          </a>
        </li>
        <li>
          <a href="http://emojione.com/">Emojis by EmojiOne under CC-BY-4.0</a>
        </li>
      </ul>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.7/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/index.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-55612075-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
