<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Super Media Collider Extranaganza for Reddit!</title>
    <meta name="description" content="Yet another Reddit player">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/emojione@2.2.7/assets/css/emojione-awesome.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <!-- component templates -->
    <script type="text/x-template" id="player-template">
      <section class="player">
        <span class="player__loading-text" v-show="loading">...Loading</span>
        <component
          v-bind:is="currentView"
          v-bind:key="post.name"
          v-bind:domain="mediaType"
          v-bind:width="width"
          v-bind:height="height"
          v-bind:mediaUrl="mediaUrl"
          v-bind:playerStatus="post.mediaStatus"
          v-bind:backupEmbedHtml="embedCode"
          v-on:media-finished="playNext"
          v-on:media-started="$emit('media-started')"
          v-on:media-stopped="$emit('media-stopped')">
        </component>
        </div>
      </section>
    </script>
    
    <script type="text/x-template" id="video-embed-template">
      <div class="embed-wrapper">
        <div class="video-wrapper" v-bind:style="{width: width + 'px', height: height + 'px'}">
          <video controls autoplay name="media">
            <source v-bind:src="mediaUrl" type="video/mp4">
          </video>
        </div>
      </div>
    </script>
    
    <script type="text/x-template" id="playlist-template">
      <section class="playlist">
        <span class="playlist__loading-text" v-show="loading">...Loading</span>
        <ul class="upcoming-posts">
          <upcoming-post
            v-for="(upcomingPost, index) in posts"
            v-bind:active="upcomingPost.active"
            v-bind:nsfw="upcomingPost.data.over_18"
            v-bind:spoiler="upcomingPost.data.spoiler"
            v-bind:title="upcomingPost.data.title"
            v-bind:thumbnail="upcomingPost.data.thumbnail"
            v-on:click.native="emitLoadPost(index)">
          </upcoming-post>
          <li class="flex-container align-right">
            <button
              type="button"
              class="button secondary request-more"
              v-on:click="$emit('request-more')">
              Load More Posts
            </button>
          </li>
        </ul>
      </section>
    </script>
    
    <script type="text/x-template" id="upcoming-post-template">
      <li 
        class="upcoming-post flex-container"
        v-bind:class="{ 'upcoming-post_active': active, 'upcoming-post_nsfw': nsfw, 'upcoming-post_spoiler': spoiler }">
        <div class="column">
          <span class="upcoming-post__title">{{ title }}</span>
        </div>
        <div class="column flex-child-shrink">
          <div class="upcoming-post__thumbnail">
            <img 
              v-bind:src="thumbnail | isThumbnail | makeSSL"
              alt="Post Thumbnail">
          </div>
        </div>
      </li>
    </script>
  
    <script type="text/x-template" id="meta-bar-template">
      <section class="meta-bar flex-container align-middle">
        <div class="column">
          <h2 class="meta-bar__title">
            <a 
              target="_blank"
              v-bind:href="threadPermalink">
              {{ title }}
            </a>
          </h2>
        </div>
        <div class="column shrink">
          <div class="meta-bar__controls">
            <span
              class="control control_prev"
              v-on:click="playPrev">
              <i class="e1a-track_previous e1a-3x"></i>
              <span class="show-for-sr">Previous</span>
            </span>
            <span 
              class="control control_play control_pause"
              v-on:click="togglePlay">
              <i class="e1a-play_pause e1a-3x"></i>
              <span class="show-for-sr">{{ toggleLabel }}</span>
            </span>
            <span 
              class="control control_next"
              v-on:click="playNext">
              <i class="e1a-track_next e1a-3x"></i>
              <div class="show-for-sr">Next</div>
            </span>
          </div>
        </div>
      </section>    
    </script>

    <script type="text/x-template" id="comments-template">
      <section class="comments row flex-dir-column">
        <header>
          <h2 class="comments__title">
            <a v-bind:href="threadPermalink">
              Discussion On Reddit
            </a>
          </h2>
        </header>
        <div class="comments__threads comment-threads">
          <div 
            class="no-comments"
            v-show="comments == null || comments.length === 0">
            No comments here, sorry...
          </div>
          <comment
            v-for="comment in comments"
            v-bind:comment="comment.data">
          </comment>
        </div>
      </section>
    </script>
    
    <script type="text/x-template" id="comment-template">
      <div
        class="comment"
        v-if="body"
        v-bind:class="{ 'comment_collapsed': collapsed }">
        <div class="comment__header">
          <button
            type="button"
            class="comment__control comment__control_collapse"
            v-on:click="collapsed = !collapsed">
            <i class="e1a-arrow_up_down"></i>
            <span class="show-for-sr">️{{ collapsed ? 'Show' : 'Hide' }}</span>
          </button>
          <span class="comment__author">{{ author }}</span>
        </div>
        <div class="comment__text" v-html="body"></div>
        <div class="sub-comments">
          <comment
            v-if="children != null"
            v-for="child in children"
            v-bind:comment="child.data">
          </comment>
        </div>
      </div>
    </script>
    
    <!-- Actual html stuff  -->
    <header>
      <transition
        name="silly-transition"
        enter-active-class="animated tada"
        leave-active-class="animated bounceOutRight">
        <h1 
          class="page-title"
          v-if="show">
          <a href="/">Super Media Collider Extravaganza for Reddit!</a>
        </h1>
      </transition>
      <button
        type="button"
        class="button secondary small about-handle"
        v-on:click="show = !show">
        {{ show ? 'Close' : 'About' }}
      </button>
    </header>

    <main id="#main">
      <div class="row row_player expanded collapse large-unstack">
        <div class="column column_player column_controls flex-container flex-dir-column">
          <player
            class="flex-child-grow"
            v-bind:post="postMeta.currentPost"
            v-on:play-prev="queuePrev"
            v-on:toggle-play="queueToggle"
            v-on:play-next="queueNext"
            v-on:media-started="updateStatePlaying"
            v-on:media-stopped="updateStatePaused">
          </player>
          <meta-bar
            class="flex-child-shrink align-self-stretch"
            v-bind:title="postMeta.currentPost.title"
            v-bind:thread-permalink="'https://www.reddit.com' + postMeta.currentPost.permalink"
            v-bind:media-status="postMeta.currentPost.mediaStatus"
            v-on:play-prev="queuePrev"
            v-on:toggle-play="queueToggle"
            v-on:play-next="queueNext">
          </meta-bar>
        </div>
       
        <div class="column column_playlist shrink">
          <playlist
            v-bind:posts="posts"
            v-on:load-post="loadPostFromEvent"
            v-on:request-more="fetchData">
          </playlist>
        </div>
      </div>
      <comments
        v-bind:thread-permalink="redditUrlBase + postMeta.currentPost.permalink"
        v-bind:comments="comments">
      </comments>
    </main>

    <footer>
      <ul class="menu">
        <li>
          <a href="https://gomix.com/#!/project/smcer">
            <img width="200" src="https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fremix-button.svg" alt="Remix on Glitch">
          </a>
        </li>
        <li>
          <a href="http://emojione.com/">Emojis by EmojiOne under CC-BY-4.0</a>
        </li>
      </ul>
    </footer>

    <!-- https only plz -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.7/vue.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <!-- So many player apis -->
    <script src="https://www.youtube.com/iframe_api" async></script>
    <script src="https://player.vimeo.com/api/player.js" async></script>
    <script src="/player.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-55612075-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
