<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Super Media Collider Extranaganza for Reddit!</title>
    <meta name="description" content="A cool thing made with Gomix">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link 
      href="https://fonts.googleapis.com/css?family=Audiowide|Bungee|Bungee+Shade|Ewert|Monoton|Open+Sans|Shrikhand"
      rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <!-- component templates -->
    <script type="text/x-template" id="player-template">
      <section class="player">
        <span class="player__loading-text" v-show="loading">...Loading</span>
        <component
          v-bind:is="currentView"
          v-bind:key="post.name"
          v-bind:domain="mediaType"
          v-bind:width="width"
          v-bind:height="height"
          v-bind:mediaUrl="post.url"
          v-bind:playerStatus="post.mediaStatus"
          v-bind:backupEmbedHtml="embedCode"
          v-on:media-finished="playNext"
          v-on:media-started="$emit('media-started')"
          v-on:media-stopped="$emit('media-stopped')">
        </component>
        </div>
      </section>
    </script>
    
    <script type="text/x-template" id="playlist-template">
      <section class="playlist">
        <span class="playlist__loading-text" v-show="loading">...Loading</span>
        <ul class="upcoming-posts flex-container flex-dir-column">
          <upcoming-post
            v-for="(upcomingPost, index) in posts"
            v-bind:active="upcomingPost.active"
            v-bind:title="upcomingPost.data.title"
            v-bind:thumbnail="upcomingPost.data.thumbnail"
            v-on:click.native="emitLoadPost(index)">
          </upcoming-post>
        </ul>
      </section>
    </script>
    
    <script type="text/x-template" id="upcoming-post-template">
      <li 
        class="upcoming-post flex-container flex-child-auto"
        v-bind:class="{ 'upcoming-post_active': active }">
        <div class="column">
          <span class="upcoming-post__title">{{ title }}</span>
        </div>
        <div class="column flex-child-shrink">
          <img 
            v-bind:src="thumbnail | isThumbnail | makeSSL"
            alt="Post Thumbnail"
            class="upcoming-post__thumbnail">
        </div>
      </li>
    </script>
  
    <script type="text/x-template" id="meta-bar-template">
      <section class="meta-bar flex-container align-middle">
        <div class="column">
          <h2 class="meta-bar__title">
            <a 
              target="_blank"
              v-bind:href="threadPermalink">
              {{ title }}
            </a>
          </h2>
        </div>
        <div class="column shrink">
          <div class="meta-bar__controls button-group">
            <button
              type="button"
              class="control control_prev button"
              v-on:click="playPrev">
              Previous
            </button>
            <button 
              type="button"
              class="control control_play control_pause button"
              v-on:click="togglePlay">
              {{ toggleLabel }}
            </button>
            <button 
              type="button"
              class="control control_next button"
              v-on:click="playNext">
              Next
            </button>
          </div>
        </div>
      </section>    
    </script>

    <script type="text/x-template" id="comments-template">
      <section class="comments row flex-dir-column">
        <header>
          <h2>
            <a 
              v-bind:href="threadPermalink">
              Discussion On Reddit
            </a>
          </h2>
        </header>
        <div class="comments__threads comment-threads">
          <comment
            v-for="comment in comments"
            v-bind:comment="comment.data">
          </comment>
        </div>
      </section>
    </script>
    
    <script type="text/x-template" id="comment-template">
      <div
        class="comment"
        v-if="body">
        <div class="comment__author">{{ author }}</div>
        <div class="comment__text" v-html="body"></div>
        <div class="sub-comments">
          <comment
            v-if="children != null"
            v-for="child in children"
            v-bind:comment="child.data">
          </comment>
        </div>
      </div>
    </script>
    
    <!-- Actual html stuff  -->
    <header>
      <transition
        name="custom-classes-transition"
        enter-active-class="animated tada"
        leave-active-class="animated bounceOutRight">
        <h1 v-if="show">
          <a href="/">Super Media Collider Extravaganza for Reddit!</a>
        </h1>
      </transition>
      <button
        type="button"
        class="button secondary small about-handle"
        v-on:click="show = !show">
        {{ show ? 'Close' : 'About' }}
      </button>
    </header>

    <main id="#main">
      <div class="row row_player expanded collapse large-unstack">
        <div class="column column_player column_controls flex-container flex-dir-column">
          <player
            class="flex-child-grow"
            v-bind:post="postMeta.currentPost"
            v-on:play-prev="queuePrev"
            v-on:toggle-play="queueToggle"
            v-on:play-next="queueNext"
            v-on:media-started="updateStatePlaying"
            v-on:media-stopped="updateStatePaused">
          </player>
          <meta-bar
            class="flex-child-shrink align-self-stretch"
            v-bind:title="postMeta.currentPost.title"
            v-bind:thread-permalink="'https://www.reddit.com' + postMeta.currentPost.permalink"
            v-bind:media-status="postMeta.currentPost.mediaStatus"
            v-on:play-prev="queuePrev"
            v-on:toggle-play="queueToggle"
            v-on:play-next="queueNext">
          </meta-bar>
        </div>
       
        <div class="column shrink">
          <playlist
            v-bind:posts="posts"
            v-on:load-post="loadPostFromEvent">
          </playlist>
        </div>
      </div>
      <comments
        v-bind:thread-permalink="redditUrlBase + postMeta.currentPost.permalink"
        v-bind:comments="comments">
      </comments>
    </main>

    <footer>
      <ul class="menu">
        <li>
          <a href="https://gomix.com/#!/project/super-media-collider-extravaganza-for-reddit">
            Remix this in Gomix
          </a>
        </li>
      </ul>
    </footer>

    <!-- https only plz -->
    <script src="https://unpkg.com/vue@2.1.7/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <!-- So many player apis -->
    <script src="https://www.youtube.com/iframe_api" async></script>
    <script src="https://player.vimeo.com/api/player.js" async></script>
    <script src="/player.js"></script>
  </body>
</html>
